<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        <title>{% block title %}LC GenEd Database{% endblock %}</title>
        <link rel="icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/master.css">
        {% block style %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            <a name="Top"></a>
            <h1>{% block header %}Find the GenEd That is Right for You!{% endblock %}</h1>

            <p class="description">{% block description %}
                This is a web application that searches through the courses
                offered at <strong>Luther College</strong> and allows you to
                search through those courses based on the <strong>All College
                General Education</strong> requirements that they satisfy. You
                may either click a GenEd on the left to search by a single
                requirement, or select mulitple GenEds on the right to search
                by multiple requirements.
            {% endblock %}</p>

            {% block container %}

            {% endblock %}
        </div>
        {% endblock %}
        {% block footer %}
        <footer>
            <p>Luther College&#9702;700 College Drive&#9702;Decorah, Iowa 52101&#9702;USA<br />
                563-387-2000&#9702;800-4-LUTHER (800-458-8437)</p>
        </footer>
        {% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
