{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/splash.css">
{% endblock %}

{% block body %}
<div class="parallax">
    <div class="parallaxCaption">
        <img src="/static/images/lutherlogo.png" style="width:75%;" alt="Luther College">
        <hr />
        <p>Find the <strong>GenEd</strong> that's right for you!</p>
    </div>
    <span class="scroll-icon">&#9699;</span>
</div>
<div class="textCont">
    <div class="splashHeader">
        <h1>Luther College GenEd Database</h1>
        <p>Search through the courses offered at <strong>Luther College</strong>
            and view courses based on the <strong>All College General Education</strong>
            requirements that they satisfy.</p>
        <a class="enterSite" href="/index">Search the Database</a>
    </div>
</div>

{% endblock %}
